remi-cart {
  padding-bottom: 4em;
  min-height: 100vh;

  .page-wrapper {
    max-width: 856px;
  }

  .cart-items {
    padding: 1em;

    .cart-items--item {
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 767px) {
}
