remi-shop {
  remi-product-item {
    height: 435px;
  }
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }

  .toolbar {
    padding: 16px 0;
  }

  remi-product-item {
    transform-origin: 0 0;
    animation-delay: 0.12s;
    transition: transform 0.2s, opacity 0.2s;
  }

  &.animating.leave remi-product-item,
  remi-product-item {
    opacity: 0;
    transform: scale(0.5);
  }

  &.animating.enter remi-product-item,
  &.active remi-product-item {
    opacity: 1;
    transform: scale(1);
  }

  @media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    remi-product-item {
      height: 370px;
    }
    .feature-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-device-width: 768px) and (min-device-width: 480px) {
    remi-product-item {
      height: 380px;
    }
    .feature-item {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
